body {
    font-size: 16px;
}

#heading {
    background-color: #31b6d4;
    font-size: 3em;
    padding: 10px;
    margin: 10px 20px;
}

.weEnjoyBoring {
    background-color: #49d16d;
    border: 3px solid #e86680;
    width: 500px;
}